/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Oswald:wght@200;300&family=Roboto:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Oswald:wght@200;300&family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  border: none;
  padding: 0;
}

h3{
  font-size: 20px;
}

#logo{
  
  height: 150px;
  width: 150px;
  float: left;
  margin-left: 10px;
  position: fixed;
  background-color: #000065;
  /* background-color: rgba(0, 0, 95, .9); */
}



#logo img{
  float: left;
  height: 208px;
  scale: 70%;
  position: fixed;
  top: -19px;
  left: -7px;
  bottom: 0;
  right: 100px;
}

header{
  height: 150px;
  background-color: #000065;
  /* margin: 10px 10px 0 220px; */
  margin: 10px 10px 0 165px;
  padding-left: 120px;
}


#title{
  font-family: Lato, sans-serif;
  color: #FFFFFF;
  font-style: italic;
  float: left;
  font-size: 80px;
  margin-top: 10px;
  margin-bottom: -10px;
  
  /* border: 1px solid red;   */
}

#nav_links {
  float: right;
  margin-right: 335px;
  margin-top: 60px;
  /* border: 1px solid red; */
}

#nav_links li{
  display: inline;
  list-style-type: none;
  letter-spacing: 2px;
  margin-right: 10px;
  /* border: 1px solid yellow; */
}

#nav_links a{
  text-decoration: none;
}

header h3{
  font-family: Oswald, sans-serif;
  letter-spacing: 2px;
  color: #FFFFFF;
  clear: both;
  /* padding-top: -20px; */
  /* border: 1px solid lightblue;   */
}


/* menu categories */
#categories{
  height: 650px;
  width: 150px;
  text-align: center;
  margin-left: 10px;
  float: left;
  clear: left;
  border-top: 5px solid #FFFFFF;
  background-color: #000065;
  /* border: 1px solid lightblue; */ 
  position: fixed;
}

#categories h3, #nav_links a{   
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #FE9C14;
}
#categories li{
  list-style-type: none;
  margin-top: 30px;
}

#categories a{
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-decoration: none;
}

.active{
  border-bottom: 1px solid #FE9C14;
}

.active-categories{
  border-bottom: 1px solid #FFFFFF;
}

/* box items */
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px 340px 15px 270px;

  /* border: 1px solid black; */
}

.img-items{
  width: 300px;
  margin: 0 15px;
  /* border: 1px solid blue; */
}

.img-items img{
  
  height: auto;
  width: 100%;
  /* border: 1px solid red; */
}

.fig-cap{
  color: grey;
  font-size: 80%;
}

.img-items h2{
  text-align: left;
  margin-top: 10px;
}

.description{
  text-align: justify;
  margin: 10px 0;
}

/* footer */
.footer_col_band{
  background-color: #000065;
  height: 100px;
  margin: 10px 10px 10px 165px;
  padding: 10px 0;
}

footer h2{
  font-family: Oswald, sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}

footer a{
  text-decoration: none;
}

#icons_footer{
  text-align: center;
  font-size: 200%;
  margin: 10px 0;
  padding-top: 10px;
  word-spacing: 20px;
}

#icons_footer a{
  color: #FFFFFF;
}

#color_rectang{
  height: 120px;
  width: 150px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: #000065;
}

/* Button to "top page" */
#button_top {
  position: fixed; 
  bottom: 140px; 
  right: 30px; 
  height: 50px;
  width: 50px;
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: lightgray; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 50px; 
  font-size: 16px;
  padding: 0;
}

#button_top a{
  text-decoration: none;
  color: #000065;
}

#button_top:hover {
  background-color: #FE9C14;
}

