/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Oswald:wght@200;300&family=Roboto:wght@300&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Oswald:wght@200;300&family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  border: none;
  padding: 0;
}

#logo img{
  float: left;
  height: 208px;
  scale: 85%;
}

#title{
  font-family: Lato, sans-serif;
  color: #FFFFFF;
  font-style: italic;
  float: left;
  font-size: 80px;
  margin-left: 84px;
  /* border: 1px solid red;   */
}

#nav_links {
  float: right;
  margin: 50px 80px -10px 0;
  padding-top: 10px;
  /* border: 1px solid lightblue; */
}

#nav_links li{
  font-size: 120%;
  display: inline;
  float: both;
  list-style-type: none;
  letter-spacing: 2px;
  margin-right: 10px;
  /* border: 1px solid red; */
}

#nav_links a{
  text-decoration: none;
  /* color: #FE9C14; */
}

#title, #nav_links li{
  margin-top: 50px;
}

#nav_links, #title {
  line-height: 70px;
}

header{
  height: 208px;
  background-color: #1B1B1B;
  /* background-color: lightblue; */
  margin: 10px 10px 0 10px;
}

#vert_line{
  height: 208px;
  border-left: 5px solid #FFFFFF;
  width: 5px;
  float: left;
  margin-left: 3.5px;
}

header h3{
  font-family: Oswald, sans-serif;
  letter-spacing: 2px;
  color: #FFFFFF;
  clear: right;
  /* padding-top: -2px; */
  margin-left: 300px;
  /* border: 1px solid lightblue;   */
}



/* menu categories */
#categories{
  height: 700px;
  width: 203px;
  text-align: center;
  margin-left: 10px;
  font-size: 120%;
  float: left;
  clear: left;
  border-top: 5px solid #FFFFFF;
  background-color: #1B1B1B;
  /* border: 1px solid lightblue; */ 
}

#categories h3, #nav_links a{   
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #FE9C14;
}
#categories li{
  list-style-type: none;
  margin-top: 30px;
}

#categories a{
  font-family: Lato, sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-decoration: none;
}

.active{
  border-bottom: 1px solid #FE9C14;
}

.active-categories{
  border-bottom: 1px solid #FFFFFF;
}

/* box items */
#box-items{
  height: 700px;
  /* margin-left: 270px; */
  margin: 5px 340px 0 270px;
  /* border: 1px solid lightgreen; */
  overflow-y: scroll;
  /* background-color: lightgray; */
}

.item-heig-170, .item-heig-200, .item-heig-250, .item-heig-300, .item-heig-400{
  width: 550px;
  margin: 40px 0 0 40px;
  float: left;
  /* border:1px solid lightgray; */
}

.item-heig-170{
  height: 170px;
}

.item-heig-200{
  height: 200px;
}

.item-heig-250{
  height: 250px;
}

.item-heig-300{
  height: 300px;
}
.item-heig-400{
  height: 400px;
}

.img-items{
  width: 300px;
  height: auto;
  float: left;
  margin-right: 10px;
  /* scale: 80%; */
}
#box-items h2{
  /* font-weight: 600; */
  /* color: #FE9C14; */
  font-family: Lato, sans-serif;
  font-weight: 400;
  display: inline;
  text-align: left;
}

.description{
  display: inline-block;
  text-align: left;
  margin: 15px 0 20px 0;
}

.description{
  width: 230px;
  text-align: justify;
  font-family: Lato,sans-serif;
  font-weight: 300;
}

.fig-cap{
  clear: left;
  float: left;
  color: grey;
}

/* footer */
.footer_col_band{
  /* height: 100px; */
  /* background-color: #1B1B1B; */
  background-color: #1B1B1B;
  margin: 5px 10px 0 10px;
  padding: 5px 0;
}

footer h2, footer h3{
  font-family: Oswald, sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}

footer h3{
  font-family: Oswald, sans-serif;
  color: #1B1B1B;
  font-size: 16px;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}

footer a{
  text-decoration: none;
}

#icons_footer{
  text-align: center;
  font-size: 200%;
  margin-top: 15px;
  word-spacing: 20px;
}

#icons_footer a{
  color: #FFFFFF;
}

hr{
  border: 0.5px solid lightgray;
  margin: 5px 10px;
}

#nav_links_footer{
  text-align: center;
}

#nav_links_footer li{
  font-size: 120%;
  display: inline;
  list-style-type: none;
  padding: 30px;
  letter-spacing: 2px;
  /* margin-right: 10px; */
  /* border: 1px solid red; */
}

